header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 10;
    transition: background-color 1s ease,   
    box-shadow 1s ease;
}

.header-left{
    float: left;
    height: 75px;
    display: flex;
    align-items: center;
}

.header-left__logo{
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 100px;   
}

.header-right {
    float: right;
    height: 75px;
    display: flex;
    align-items: center;
}
  
.header-login, .header-signup {
    height: fit-content;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 20px;
    font-weight: 500;
    transition: 0.3s ease
}
  
.header-login:hover, .header-signup:hover{
    text-decoration: underline
} 